In [1]:
import pandas as pd
import os
import requests
from PIL import Image

from io import BytesIO

In [2]:
os.getcwd()

'/Users/apple/Documents/GitHub/Minor'

In [3]:

df1 = pd.read_csv('combined/6.csv',header=None)
df3 = pd.read_csv('combined/3.csv',header=None)

In [4]:
df1.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,Bahala (20-N)),6,85,413,62336,0.084576,0.000387,76.292079,28.414277,78.8,1.1,23.366667,73.4,32.2
1,Naya Gaon (21-N),6,85,413,62337,0.107172,0.000452,76.310324,28.417301,84.7,29.7,21.133333,79.6,36.4
2,Gadhi (25-N),6,85,413,62338,0.076065,0.000232,76.328743,28.414865,75.4,47.4,25.266667,78.4,40.3
3,Bawa (22-N),6,85,413,62339,0.130149,0.001027,76.316248,28.392183,92.0,66.6,24.800000,78.1,27.2
4,Karoli (23-N),6,85,413,62340,0.107789,0.000729,76.340858,28.378671,88.7,35.3,30.700000,82.7,41.3

In [5]:
df1.columns =['Name ' , 'State' , 'District' , 'tehsil' , 'village' , 'shape_length' , 'shape_area' , 'longtitude' , 'latitude' , 'electricity' , 'treated_water' , 'electronics' , 'phone' , 'transport']        
df1.to_csv('combined/haryana.csv' , index= False, header = 'none')

df3.columns =['Name ' , 'State' , 'District' , 'tehsil' , 'village' , 'shape_length' , 'shape_area' , 'longtitude' , 'latitude' , 'electricity' , 'treated_water' , 'electronics' , 'phone' , 'transport']        
df3.to_csv('combined/punjab.csv' , index= False, header = 'none')

In [6]:
df=pd.read_csv('combined/haryana.csv' )
df=df.append(pd.read_csv('combined/punjab.csv'))

In [9]:


df.shape

(17864, 14)

In [10]:
url = 'https://maps.googleapis.com/maps/api/staticmap?'

folder = 'google_images_haryana'
if not os.path.exists(folder):
    os.makedirs(folder)
os.getcwd()
os.chdir("google_images_haryana")   
os.getcwd()

'/Users/apple/Documents/GitHub/Minor/google_images_haryana'

In [10]:
c1 =[]
c2 =[]
c=[]
i=0
for index,row in df.iterrows():
    i=i+1
    if i>6000 or i%3!=0 : #gunji : if i<6000 or i>12000 or i%3!=0:  sobu : if i<12000 or i%3!=0
        continue
    c1= str(row['latitude'])
    c2 = str(row['longtitude'])
    fname= str(row['State'])+str(row['District'])+str(row['tehsil'])+str(row['village'])
    c = c1 + ',' + c2
    try : 
            
       
        r = requests.get(url+"center="+c+'&zoom=15&size=640x640&maptype=satellite&key=AIzaSyDnDm2kDvLJvjySSHOpBNFEt8Jw4UJU_8U')
        im = Image.open(BytesIO(r.content)) 
        
        image_file_format = '.PNG'
        im.save( fname + image_file_format)

    except requests.exceptions.RequestException as e:
        print(e)
        print(fname)

(85499, 14)

(6132, 14)